<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDDTestSuite" verbose ="1" parallel="classes" thread-count="10">
  <test name="OrangeHRM Test">
    <classes>
      	<class name="com.qa.Runner.TestRunner"/>
    </classes>
  </test> 
</suite> 
